* {
  margin:0;
  padding:0;
}
body {
  font-family: 'Raleway', sans-serif;
}
.landing-container {
  width:100%;
  height: 100vh;
  background-image: url(../images/desk.png);
  background-size: cover;
}
header {
  width:100%;
  height:6em;
}
.badge {
  background-color: #e8501f;
  vertical-align: top;
  display: inline-block;
  width:5%;
  height:90%;
  border-radius: 0px 0px 4px 4px;
  margin-left:5em;
}
.badge-letters {
  text-align: center;
}
.badge-letters a {
  text-decoration: none;
  color:white;
}
.badge-letters h2 {
  margin-top: 1em;
  font-size: 1.8em;
}
nav {
  display:inline-block;
  margin-top: 2em;
}
nav ul {
  margin-left: 2em;
}
nav ul li {
  display: inline-block;
  list-style: none;
  float: left;
}
nav ul li a {
  text-decoration: none;
  color:white;
  padding:5px 15px;
  font-size:20px;
  margin-left: 5px;
  margin-right:5px;
}
nav ul li a:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid #e8501f;
}
.icon-links {
  display:inline-block;
  float: right;
  margin-top: 2em;
  margin-right:1em;
}
.link {
  display: inline-block;
  width:1.8em;
  height:1.8em;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left:1em;
  margin-right:1em;
  transition: 0.5s;
}
.github {
  background-image: url(../images/githubGray.png);
}
.github:hover {
  background-image: url(../images/githubHover.png);
}
.linkin {
  background-image: url(../images/linkedGray.png);
}
.linkin:hover {
  background-image: url(../images/linkedHover.png);
}

/*start of landing page title*/

.landing-title {
  margin-top: 15em;
}
.landing-title h1 {
  font-size: 5em;
  color:white;
  text-align: center;
}

/*************** projects section ***************/
#projects {
  padding:5em;
}
#projects h2 {
  font-size: 4em;
  text-align: center;
}
.project-aside {
  text-align: center;
}
.case {
  display: inline-block;
  text-align: center;
  padding:2em;
}
.case img {
  width:5em;
}
.case h4,a {
  /*display: none;*/
  text-decoration: none;
  color:	white;
  transition: 0.5s;
}
.case a:hover h4 {
  color: #e8501f;
}






#projects p {
  text-align: center;
  font-size: 3em;
}
.skillset {
  padding: 3em;
  text-align: center;
}
.skill {
  display: inline-block;
  margin:10px;
}
.php {
  width:7.5em;
  height:4em;
  background-image: url(../images/php.png);
  background-size:contain;
  background-repeat: no-repeat;
}
.mysql {
  width:7.5em;
  height:4em;
  background-image: url(../images/mysql.png);
  background-size:contain;
  background-repeat: no-repeat;
}
.js {
  width:7.5em;
  height:4em;
  background-image: url(../images/javascript.png);
  background-size:contain;
  background-repeat: no-repeat;
}
.css {
  width:7.5em;
  height:4em;
  background-image: url(../images/CSS3.png);
  background-size:contain;
  background-repeat: no-repeat;
}
.html {
  width:7.5em;
  height:4em;
  background-image: url(../images/html.png);
  background-size:contain;
  background-repeat: no-repeat;
}

/**************** work section ****************/

#Work {
  padding: 5em;
  background-color: #485158;
}
#Work h2 {
  color: white;
  font-size: 4em;
  text-align: center;
}
.client {
  margin:1em;
  padding:2em;
  text-align: center;
  color: white;
  border: 1px dashed lightgray;
}
.client h3 {
  font-size: 1.5em;
  padding:1em;
}
progress {
  width:20em;
}


/**************** about section ****************/

#About {
  padding: 5em;
}
#About h2 {
  color: #e8501f;
  font-size: 4em;
  text-align: center;
}
#About p {
  text-align: center;
  color:gray;
  font-size: 1em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
  padding:10px;
}
#About a {
  color:black;
}
#About a:hover {
  color:gray;
}
.span {
  text-align: center;
  color:gray;
}
.profile {
  margin:1em auto 1em auto;
  width:12em;
  height:12em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/profilepic.png);
}
.button {
  text-align: center;
}

#email-button {
  width: 3.5em;
  height:2em;
  background-image: url(../images/gmail-logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  text-align: center;
  transition:box-shadow 0.3s;
}
#email-button:hover {
  box-shadow: 1px 1px 3px black;
}

/*************** email form ****************/
#email-form {
  width:100%;
}
.form-contents { /*div is the whole block ; add width and height, then you can center it with margins*/
  width:35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: lightgray;
  border-radius: 4px;
  padding:1em;
}
.form-contents input {
  width:70%;
  height:auto;
  margin: 0.5em 0;
  padding:1em;
  border-radius: 4px;
  border: none;
}
.form-contents textarea {
  width:70%;
  height:3em;
  padding:1em;
  border: none;
  border-radius: 4px;
}
.submit:hover {
  transition: 0.5s;
  color:white;
  background-color: #e8501f;
}
/**************** Footer Section *****************/
footer {
  text-align: center;
  margin-bottom: 2em;
}
